.indexBody {
    background-image: url("../images/back.png");
    background-size: cover;
    background-attachment: fixed;
}

.pageBody {
    background-image: url("../images/back2.png");
    background-size: cover;
    background-attachment: fixed;
}

.main {
    position: relative;
    font-family: 'Consolas', serif;
    font-size: 24pt;
    color: #ffffff;
    text-shadow: 1px 1px 1px #92938d;
}

/* главная страница */

.main .indexH1 {
    position: absolute;
    margin-left: 10%;
}

.indexH1 {
    margin-top: 20%;
    font-family: 'Devil Breeze Demi', serif;
    font-size: 120pt;
    color: #ffffff;
    text-shadow: 2px 1px 2px #92938d;
    text-align: center;
}

.indexMembers {
    margin-left: 15%;
    width: 1326px;
    height: 932px;
}

area:link, area:hover, area:active, area:focus {
    outline: none;
}

/* страница участника группы */

.pageH1 {
    margin-top: 2%;
    margin-bottom: 0;
    font-family: 'Devil Breeze Demi', serif;
    font-size: 100pt;
    color: #ffffff;
    text-shadow: 2px 1px 2px #92938d;
    text-align: center;
}

.contentBlocks {
    display: inline-block;
    margin-left: 6%;
    max-height: 600px;
    text-align: center;
}

.block {
    display: inline-block;
    float: left;
    font-size: 16pt;
    text-align: left;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5)
}

.biography {
    width: 1000px;
    height: 600px;
    border: 4px solid #ffffff;
}

p {
    margin: 2%;
    text-indent: 5%;
}

.memberPhoto {
    width: 600px;
    height: 600px;
    border: 4px solid #ffffff;
}

/* кнопки */

.buttons {
    margin-top: 0;
    height: 100px;
    text-align: center;
}

.btn {
    display: inline-block;
    position: relative;
    padding: 20px 20px 20px 40px;
    color: #ffffff;
    letter-spacing: 1.1rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.btn:before, .btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: #b1b2aa;
    transition-delay: .5s;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: #ffffff;
    transition-delay: .35s;
}

.from-center:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 2px solid #ffffff;
    border-left: 0;
    border-right: 0;
}

.from-center:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #ffffff;
}

.from-center:hover:before {
    left: 0;
    width: 100%;
}

.from-center:hover:after {
    top: 0;
    height: 100%;
}

/* ссылки */

A:link, A:visited{
    text-decoration: none;
    color:#ffffff;
    text-shadow: 1px 1px 1px #92938d;
}

/* шрифт */

@font-face {
    font-family: "Devil Breeze Demi";
    src: url("../fonts/DevilBreezeDemi.ttf");
}
